.cart-item-container {
    display: flex;
    justify-content: center;
    padding: 20px;
    margin: 20px 170px;
  }
  
  .cart-item-main {
    display: flex;
    justify-content: space-between;
    width: 100%; /* Adjust width according to your needs */
    
  }
  
  .cart-item-left {
    flex: 2; /* Takes up 3 parts of the total width */
    margin-right: 50px;
  }
  
  .cart-item-right {
    flex: 1; /* Takes up 1 part of the total width */
    padding: 20px;
    background-color: #2c382f;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
  }
  
  .cartitems-format-main {
    color: #fef2c3;
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 2fr;
    gap: 10px;
    font-weight: bold;
  }
  
  .cartitems-format {
    display: grid;
    grid-template-columns: 1fr 3fr 4fr 2fr;
    padding: 20px;
    gap: 10px;
    align-items: center;
  }
  
  .cartitem-format-img {
    width: 60px; /* Adjust image size */
    height: 60px;
    object-fit: cover;
  }
  
  .cartitem-remove-icon {
    cursor: pointer;
    width: 20px;
    height: 20px;
  }
  
  .cartitems-total {
    background-color: #2c382f;
    padding: 20px;
    border-radius: 8px;
    color: #fef2c3;
  }
  
  .cartitems-total-item {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

  }
  
  button {
    width: 100%;
    padding: 10px;
    background-color: #fef2c3;
    color: #2c382f;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #fef2c3;
  }
  
  .cart-empty {
    text-align: center;
    padding: 50px 0;
  }
  
  .cart-empty h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
  

  @media (max-width: 1284px){
    .cart-item-container {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }
  }

  @media (max-width: 1024px){
    .cart-item-container {
        display: flex;
        flex-direction: column;
        margin: 20px 20px;
    }
    .cart-item-main {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        width: 100%; /* Adjust width according to your needs */
        gap: 40px
      }

      .cart-item-right {
        width: 90%;
        padding: 20px;
        background-color: #2c382f;
        border: 1px solid #a9a9a9;
        border-radius: 8px;
      }
  }

  @media (max-width: 863px){
    .cart-item-container {
        display: flex;
        flex-direction: column;
    }

    .cart-item-main {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%; /* Adjust width according to your needs */
    }

    .cart-item-left {
        width: 100%;
        margin-right: 50px;
        }
        
    .cart-item-right {
    padding: 20px;
    background-color: #2c382f;
    border: 1px solid #a9a9a9;
    border-radius: 8px;
    }
  }

  @media (max-width: 600px){
    .cart-item-container {
        display: flex;
        flex-direction: column;
    }

    .cart-item-left {
        width: 100%;
        margin-right: 50px;
      }
      
      .cart-item-right {
        padding: 20px;
        background-color: #2c382f;
        border: 1px solid #a9a9a9;
        border-radius: 8px;
      }
      
  }