.shop-category {
    margin: 40px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .shopcategory-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    gap: 10px;
  }
  
  .item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    width: 100%;
    max-width: 300px;
    height: 500px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: #2c382f;
  }
  
  .item-container:hover {
    transform: translateY(-5px);
  }
  
  .item-image {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #2c382f;
  }
  
  .item-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .item-info {
    width: 100%;
    padding: 10px;
    text-align: center;
    flex-grow: 1; /* Ensures that this area grows to take up remaining space ; /* Background for the text section */
    background-color: #2c382f;
    box-sizing: border-box;
  }
  
  .item-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }
  
  .item-price {
    font-size: 16px;
    color: #333;
    margin-top: 5px;
  }
  
  .shopcategory-loadmore {
    margin: 50px;
    text-align: center;
    cursor: pointer;
    color: #fef2c3;
    font-weight: bold;
    transition: color 0.3s ease;
    border: 1px solid #fef2c3;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  /* Media Queries */
  @media (max-width: 1280px) {
    .shopcategory-items {
      grid-template-columns: repeat(4, 1fr); /* Adjust columns on smaller screens */
    }
  }
  
  @media (max-width: 1024px) {
    .shopcategory-items {
      grid-template-columns: repeat(3, 1fr); /* Adjust columns on even smaller screens */
    }
  }
  
  @media (max-width: 768px) {
    .shopcategory-items {
      grid-template-columns: repeat(2, 1fr); /* Two columns on mobile */
    }
  
    .item-container {
      height: 300px; /* Adjust the height for mobile devices */
    }
  }
  
  
  @media(max-width: 1024px) {
    .shop-category {
      margin: 40px 20px;
      justify-content: center;
    }
    
    .shopcategory-items {
      display: grid;
      grid-template-columns: repeat(3, 1fr); 
      gap: 10px
    }
    
    .item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      width: 100%;
      max-width: 250px;
      height: 400px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }
    
    .item-container:hover {
      transform: translateY(-5px);
    }
    
    .item-image {
      width: 100%;
      height: 70%;
      overflow: hidden;
      background-color: #fef2c3;
    }
    
    .item-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .item-info {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    
    .item-title {
      font-size: 18px;
      font-weight: bold;
      color: #fef2c3;
    }
    
    .item-price {
      font-size: 16px;
      color: #fef2c3;
    }
    
    .shopcategory-loadmore {
      margin-top: 20px;
      text-align: center;
      cursor: pointer;
      color: #fef2c3;
      font-weight: bold;
    }
    
  }
  
  
  @media(max-width: 768px) {
    .shop-category {
      margin: 40px 20px;
      justify-content: center;
    }
    
    .shopcategory-items {
      display: grid;
      grid-template-columns: repeat(2, 1fr); 
      gap: 10px
    }
    
    .item-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      overflow: hidden;
      width: 100%;
      max-width: 300px;
      height: 300px;
      box-shadow: 0 4px 8px rgba(0,0,0,0.1);
      transition: transform 0.3s ease;
    }
    
    .item-container:hover {
      transform: translateY(-5px);
    }
    
    .item-image {
      width: 100%;
      height: 70%;
      overflow: hidden;
      background-color: #fef2c3;
    }
    
    .item-image img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .item-info {
      width: 100%;
      padding: 10px;
      text-align: center;
    }
    
    .item-title {
      font-size: 18px;
      font-weight: bold;
      color: #fef2c3;
    }
    
    .item-price {
      font-size: 16px;
      color: #fef2c3;
    }
    
    .shopcategory-loadmore {
      margin-top: 20px;
      text-align: center;
      cursor: pointer;
      color: #fef2c3;
      font-weight: bold;
    }
    
  }